<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
        <link rel = "icon" href ="https://i.ibb.co/cwLqrN7/Webp-net-resizeimage.png"
        type = "image/x-icon">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<style>
    body { background-image: url(https://static.vecteezy.com/system/resources/previews/002/223/263/original/404-error-message-page-not-found-with-technology-background-vector.jpg);}
.error-template {padding: 40px 15px;text-align: center; color: white}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>

<body>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template ">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details ">
                    Sorry, Requested page not found!
                    <br>
                    This is not a fully functional site and can be configured according to your requirements to make it fully functional
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>